apispec==2.0.2
click==6.7
flask-apispec==0.8.3
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask==1.1.1
itsdangerous==0.24
Jinja2==2.10.1
marshmallow==3.2.1
OWSLib==0.18.0
pandas==1.0.5
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
Werkzeug==0.15.0
geopandas==0.8.0
shapely==1.7.0
simplejson==3.17.0
